[run]
source = apps
omit = 
    */tests.py
    */test_*.py
    */*_test.py
    */migrations/*
    */__pycache__/*
    */venv/*
    */.venv/*
    */env/*
    manage.py
    */conftest.py
    */settings.py
    */asgi.py
    */wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.DEBUG
    if TYPE_CHECKING:
    @abstract

precision = 2
show_missing = True
skip_covered = False
